@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    padding: 10px 40px;
}
body{
    font-family: 'Poppins' !important;
}
.header{
    background-image: url('../imagenes/banner/iptv_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
/*STYLE NAVEGATION*/
.header__navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo a{
    color: #ffff;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
}
.nav__item{
    height: 100%;
}
.nav__link{
    color: #f4f4f8;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 10px;
}
.header__content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__content img{
    height: 250px;
    margin-bottom: 1rem;
}
.header__title h1{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__description p{
    font-size: 1.5rem;
    color: #fff;
}
.header__btn{
    color: #f4f4f8;
}
/*Section service*/
.service{
    height: 75vh;
    width: 100%;
    background: linear-gradient(to left, #0b0b0b,#222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service__content{
    color: #f4f4f8;

}
.service__content h2{
    font-size: 2.5rem;
    font-weight: 500;;
}
.service__content p{
    font-size: 1.4rem;
}
.service__video{
    width: 520px;
}

/*Section app download*/
.app{
    height: 75vh;
    width: 100%;
    background: linear-gradient(to top, #0b0b0b,#060a27);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__download{
    color: #f4f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app__download h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.app__download p{
    font-size: 1.4rem;
}
/*Style footer*/
.footer{
    background:#222;
    padding: 4rem 0px 2rem;
}
.footer h5{
    color: #fff;
    font-size: 1.2rem;
}
footer p,.text-light{
    color: #aeaeb1 !important;
}
.footer__links{
    list-style: none;
}
.footer__link{
    color: #e30813;
    text-decoration: none;
}
.footer__link a{
    text-decoration: none;
}
/*Style netflix accounts*/
.netflix__accounts{
    height: auto;
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.netflix__content{
    color: #f4f4f8;
}
.netflix__content h2{
    font-size: 2.5rem;
    margin-bottom: 30px;

}
.netflix__accounts span{
    color: #e30813;
    text-transform: uppercase;
}
.netflix__content p{
    font-size: 1.4rem;
}
/*section payment*/
.payment{
    position: relative;
    height: 75vh;
    width: 100%;
    background: url('../imagenes/payment.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.payment::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222;
    z-index: -1;
    opacity: 0.6;
}
.payment__content{
    color: #f4f4f8;
}
.payment__content h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.payment__content p{
    font-size: 1.4rem;
}
/*Lista de redes sociales*/
.list__redes{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}
.redes__icons{
    position: relative;
}
.redes__icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.3s ease;
}
.redes__icon:nth-child(1){
    background-color: #fff;
}
.redes__icon:nth-child(2){
    background-color: #fff;
}
.redes__icon:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 576px){
    /*General style*/
    .btn{
        width: 100%;
    }
    /*Style header*/
    .header__title h1{
        font-size: 3rem;
        margin-top: 1rem;
    }
    .header__description p{
        font-size: 16px;
    }
    video{
        width: 100%;
    }
    .payment__content-img img{
        height: 290px;   
    }
    /*app*/
    .app{
        height: 100%;
        padding: 20px 0px;
    }
    /*style app download*/
    .app{
        height: auto;
        padding: 4rem 0px;
    }
    .app__download{
        padding-top: 1rem;
    }
    .app__download h2{
        font-size: 2rem;
    }
    .app__download p{
        font-size: 16px;
    }
    /*Style netflix account*/
    .netflix__img-desktop{
        display: none;
    }
    .netflix__img{
        text-align: center;
    }
    .netflix__content h2{
        font-size: 2rem;
    }
    .netflix__content p{
        font-size: 16px;
    }
    /*Service style*/
    .service{
        height: auto;
        padding: 4rem 0px;
    }
    .service__content h2{
        font-size: 2rem;
    }
    .service__content p{
        font-size: 16px;
    }
    /*Section payment*/
    .payment{
        height: auto;
        padding: 4rem 0px;
    }
    .payment__content h2{
        font-size: 2rem;
    }
    .payment__content p{
        font-size: 16px;
    }
    
}